body {
  margin: 0%;
  padding: 1em;
  background-color: rgb(255, 255, 255);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 5px;
}
.wrapper > * {
  grid-column: col-start / span 12;
}

li {
  list-style: none;
  text-decoration: none;
  padding: 1rem;
}
.logo {
  height: 95%;
  width: 95%;
}

@media (min-width: 500px) {
  .main-nav,
  .content,
  .main-footer,
  .projects {
    grid-column: col-start / span 12;
  }
  nav ul {
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .main-nav {
    grid-column: col-start 7 / span 6;
  }
  .logo {
    grid-column: col-start/ span 1;
  }
  .pic {
    grid-column: col-start/span 5;
    grid-row: 2;
  }
  .content {
    grid-column: col-start 6 / span 7;
    grid-row: 2/7;
  }
  .projects {
    grid-column: col-start / span 13;
    grid-row: 7;
  }
  .main-footer {
    grid-column: col-start / span 13;
    grid-row: 9;
  }

  nav ul {
    flex-direction: row;
  }
}
